{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{# Dynamic Title #}
{% block title %}{{ post.title }} | Blog | Ax’s Portfolio{% endblock %}

{# Dynamic Description #}
{% block meta_description %}
    <meta name="description" content="{{ post.excerpt|truncatewords:25 }}">
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content=" | Blog | Ax’s Portfolio">
    <meta property="og:description" content="Browse a curated selection of web development and design projects created by Ax de Klerk using Django, Python, HTML, CSS, Cloudinary, and modern responsive techniques.">
    <meta property="og:image" content="https://res.cloudinary.com/dqde3a83z/image/upload/c_pad,b_black,w_1200,h_627/htlugudmyl2gysmeyi8j.jpg">
    <meta property="og:url" content="https://axdeklerk.co.uk/blog_detail/">
    <meta property="og:type" content="website">
{% endblock %}


{% block body_class %}standard-page{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="mb-4">
            <a href="{% url 'portfolio:blog' %}" class="btn back-btn fs-6">← Back to all posts</a>
        </div>
        <div class="col-lg-8">
            <div class="card blog-detail-card blog-text">
                {% if blog.blog_image %}
                <img src="{{ blog.blog_image.url }}" class="blog-detail-img img-fluid" alt="{{ blog.title }}">
                {% endif %}
                <div class="card-body">
                    <h1 class="card-title mb-3">{{ blog.title }}</h1>
                    <p class="mb-4">
                        <small>By {{ blog.author }} | {{ blog.published_date|date:"d M Y" }}</small>
                    </p>
                    <p class="card-text">{{ blog.content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}