{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{# Dynamic Title #}
{% block title %}CV | Ax’s Portfolio{% endblock %}

{# Dynamic Description #}
{% block meta_description %}
    <meta name="description" content="View and download the CV of Ax de Klerk, a web developer and designer specializing in creating clean, functional digital experiences.">
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="CV | Ax’s Portfolio">
    <meta property="og:description" content="Browse a curated selection of web development and design projects created by Ax de Klerk using Django, Python, HTML, CSS, Cloudinary, and modern responsive techniques.">
    <meta property="og:image" content="https://res.cloudinary.com/dqde3a83z/image/upload/c_pad,b_black,w_1200,h_627/htlugudmyl2gysmeyi8j.jpg">
    <meta property="og:url" content="https://axdeklerk.co.uk/cv/">
    <meta property="og:type" content="website">
{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "AboutPage",
  "name": "CV | Ax’s Portfolio",
  "url": "https://axdeklerk.co.uk/cv/",
  "author": {
    "@type": "Person",
    "name": "Ax de Klerk",
    "url": "https://axdeklerk.co.uk/"
  }
}
</script>
{% endblock %}

{% block body_class %}standard-page{% endblock %}

{% block content %}

<div class="container justify-contents-cente mt-4 mb-0">
    <div class="row g-4">

        <!-- PAGE 1 -->
        <div class="col-12 col-md-6 cv-section">
            <div class="card cv-card">
                <div class="cv-card-body d-flex flex-column">
                    {% if cv.cv_image_page_1 %}
                        <img src="{{ cv.cv_image_page_1.secure_url }}" 
                             class="card-img-top img-fluid cv-img" 
                             alt="cv page 1">
                    {% endif %}
                    <a href="{% url 'portfolio:download_cv_pdf' %}" 
                       class="btn btn-cv mt-2" target="_blank">Download.pdf</a>
                </div>
            </div>
        </div>
        
        <!-- PAGE 2 -->
        <div class="col-12 col-md-6 cv-section">
            <div class="card cv-card">
                <div class="cv-card-body d-flex flex-column">
                    {% if cv.cv_image_page_2 %}
                        <img src="{{ cv.cv_image_page_2.secure_url }}" 
                             class="card-img-top img-fluid cv-img" 
                             alt="cv page 2">
                    {% endif %}
                    <a href="{% url 'portfolio:download_cv_doc' %}" 
                       class="btn btn-cv mt-2" target="_blank">Download.doc</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}