{% extends 'base.html' %}
{% load static %}

{# Dynamic Title #}
{% block title %}Home | Ax’s Portfolio{% endblock %}

{# Dynamic Description #}
{% block meta_description %}
    <meta name="description" content="Welcome to my professional portfolio — showcasing my web development, design work, SEO experiments, and real-world projects.">
{% endblock %}

{% block social_meta %}
    <meta property="og:title" content="Home | Ax’s Portfolio">
    <meta property="og:description" content="Welcome to my professional portfolio — showcasing my web development, design work, SEO experiments, and real-world projects.">
    <meta property="og:image" content=https://res.cloudinary.com/dqde3a83z/image/upload/c_pad,b_black,w_1200,h_627/htlugudmyl2gysmeyi8j.jpg>
    <meta property="og:url" content="https://axdeklerk.co.uk/">
    <meta property="og:type" content="website">
{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "WebPage",
  "name": "Home | Ax’s Portfolio",
  "url": "https://axdeklerk.co.uk/",
  "author": {
    "@type": "Person",
    "name": "Ax de Klerk",
    "url": "https://axdeklerk.co.uk/"
  }
}
</script>
{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block hero_content %}
    <img src="{% static 'images/dymo-me.jpg' %}" alt="Ax’s name label" class="hero-center-img">
    <img src="{% static 'images/dymo-portfolio.jpg' %}" alt="Portfolio label" class="hero-bottom-img">
{% endblock %}

{% block content %}{% endblock %}
