services:
  - type: web
    name: axs_portfolio
    env: python
    plan: free

    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput

    startCommand: gunicorn config.wsgi:application

    postDeployCommand: python manage.py migrate 

    envVars:
      - key: SECRET_KEY
        sync: false

      - key: DATABASE_URL
        fromDatabase:
          name: axs-portfolio-db
          property: connectionString

      - key: CLOUD_NAME
        sync: false
      - key: CLOUD_API_KEY
        sync: false
      - key: CLOUD_API_SECRET
        sync: false

      - key: EMAIL_HOST
        sync: false
      - key: EMAIL_PORT
        sync: false
      - key: EMAIL_USE_TLS
        sync: false
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false

      - key: ALLOWED_HOSTS
        sync: false
      - key: ENVIRONMENT
        sync: false


databases:
  - name: axs-portfolio-db
    plan: free
    postgresMajorVersion: 15
